@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');


.navBar{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

.navTitle{
    font-size: 40px;
    color: rgb(222, 211, 0) !important;
}

.nav-link{
   color: rgb(174, 165, 2) !important; 
}
.nav-link:hover{
    color: rgb(222, 211, 0) !important;
}

.cartWidget{
    cursor: pointer;
    transition: 0.3s;
}

.cartWidget:hover{
    transform: scale(1.05);
}

.banner{
    background-color: rgb(181, 181, 181);
}

.textoBanner{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}